@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --mainFont: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  /* background-color: #000; */
}

.header__menu {
  background-image: linear-gradient(210deg, #fd7ea4 0%, #7ee8fa 83%);
  width: 100%;
  display: flex;
  height: 3.75rem;
  align-items: center;
}

.btn--hamburger {
  display: inline-block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  margin-left: 1rem;
}

.header__hamburger--stripe {
  width: 35px;
  height: 5px;
  background-color: #fd7ea4;
  border-radius: 2px;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 1;
}

.change .stripe1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .stripe2 {
  opacity: 0;
}
.change .stripe3 {
  transform: translate(0, -11px) rotate(45deg);
}

#menu {
  display: flex;
  opacity: 0;
  list-style: none;
  transition: 0.3s ease-in-out;
  margin-left: 1rem;
  gap: 3px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header__listitem {
  opacity: 0.75;
  transition: 0.3s;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: rgba(245, 245, 245, 0.801);
  cursor: pointer;
  height: 3.125rem;
}

.list--textdecorator {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.header__listitem:hover {
  opacity: 1;
}

.header__logo {
  width: 5rem;
  height: 3.75rem;
  background-image: url(/assets/logo/bonz.ai-logo-color-landscape.png);
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 1rem;
}

.header__picture {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__picture:before {
  content: "";
  background-image: url(/assets/photos/manor-house-2359884_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__picture--text {
  padding: 0 1rem;
  height: 8rem;
  width: 15rem;
  color: #000;
  opacity: 1;
  z-index: 1;
  scale: 1.1;
  background-color: rgba(245, 245, 245, 0, 3);
  backdrop-filter: blur(2px);
  border-radius: 0.7rem;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.4s;
}

.header__picture--text h1 {
  text-align: center;
  font-weight: 600;
}

.header__picture--text p {
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: solid #990099 2px;
  text-align: center;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .btn--hamburger {
    display: none;
  }
  #menu {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    width: 100%;
    opacity: 0.85;
  }
  .header__listitem {
    width: 7rem;
  }
}

@media screen and (min-width: 860px) {
  .header__picture--text {
    scale: 1.2;
  }
  .header__listitem {
    width: 12rem;
  }
  .header__picture--text {
    scale: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
    margin: 0 auto;
  }
}
