@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --mainFont: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

@room style(--popular: true) {
  .room::after {
    border: 2px solid orange;
    content: "hot!!";
  }
}
@room style(--new: true) {
  .room::after {
    border: 2px solid crimson;
    content: "new";
  }
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid;
  border-left: 1px solid;
  border-image: linear-gradient(to bottom, rgb(247, 0, 255), rgba(0, 0, 0, 0)) 1
    100%;
}
/* HEADER */

.header {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  width: 100%;
  /* background-color: #000; */
}

.header__menu {
  background-image: linear-gradient(210deg, #fd7ea4 0%, #7ee8fa 83%);
  width: 100%;
  display: flex;
  height: 3.75rem;
  align-items: center;
}

.btn--hamburger {
  display: inline-block;
  cursor: pointer;
  width: 2.25rem;
  height: 2.25rem;
  margin-left: 1rem;
}

.header__hamburger--stripe {
  width: 2.25rem;
  height: 5px;
  background-color: #fd7ea4;
  border-radius: 2px;
  margin: 6px 0;
  transition: 0.4s;
  z-index: 1;
}

.change .stripe1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .stripe2 {
  opacity: 0;
}
.change .stripe3 {
  transform: translate(0, -11px) rotate(45deg);
}

#menu {
  display: flex;
  opacity: 0;
  list-style: none;
  transition: 0.3s ease-in-out;
  margin-left: 1rem;
  gap: 3px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header__listitem {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.49);
  opacity: 0.75;
  transition: 0.3s;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: rgba(245, 245, 245, 0.801);
  cursor: pointer;
  height: 3.125rem;
}

.list--textdecorator {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.header__listitem:hover {
  opacity: 1;
}

.header__logo {
  width: 5rem;
  height: 3.75rem;
  background-image: url(../assets/logo/bonz.ai-logo-color-landscape.png);
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 1.5rem;
}

.header__picture {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__picture:before {
  content: "";
  background-image: url(../assets/photos/manor-house-2359884_1280.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__picture--text {
  padding: 0 1rem;
  height: 8rem;
  width: 15rem;
  color: #000;
  opacity: 1;
  z-index: 1;
  scale: 1.1;
  background-color: rgba(245, 245, 245, 0, 3);
  backdrop-filter: blur(2px);
  border-radius: 0.7rem;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.4s;
}

.header__picture--text h1 {
  text-align: center;
  font-weight: 600;
}

.header__picture--text p {
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: solid #990099 2px;
  text-align: center;
  font-weight: 400;
}

/* MAIN-SECTION Landingpage */

.main {
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  background-color: #fff;
  background-image: linear-gradient(9deg, #fff 40%, #7ee8fa 80%);
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-auto-rows: auto auto auto;
  gap: 0.5rem;
  justify-content: center;
  padding: 3rem 0.5rem 1rem 0.5rem;
  opacity: 0.8;
}

.main__header {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  grid-column: span 3;
  scale: 0.9;
}
.main__text {
  text-align: center;
  grid-column-start: 2;
  font-weight: 500;
}

.main__text:first-child {
  grid-row-start: 2;
}

.main__text:last-child {
  grid-row-start: 5;
}

.section.activities {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-top: 3px dotted #7ee8fa;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #fff;
  background-image: linear-gradient(9deg, #7ee8fa 0%, #fff 60%);
  width: 100%;
  opacity: 0.8;
  gap: 0.5rem;
}

.section__header--text {
  grid-column-start: 2;
  text-align: center;
  background-image: linear-gradient(60deg, #7ee8fa 0%, #50505083 60%);
  border-radius: 999px;
  font-size: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.49);
}

.section__figure {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column-start: 2;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.49);
  background-image: linear-gradient(70deg, #7ee8fa 0%, #50505083 60%);
}

.section__text--description > * {
  text-align: center;
  margin-top: 3px;
}
.section__icon--positioner {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 475px) {
  .header__list {
    flex-direction: column;
    position: absolute;
    left: -1rem;
    top: 3.5rem;
    gap: 0.1rem;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-image: linear-gradient(160deg, #fd7ea4 0%, #7ee8fa 83%);
    padding: 0.2rem;
    border-radius: 3px;
  }
  .header__listitem {
    z-index: 3;
  }
  .header {
    flex-direction: column;
  }
  .header__menu {
    min-height: 3.75rem;
    height: auto;
    overflow: visible;
  }
}

@media screen and (min-width: 600px) {
  .btn--hamburger {
    display: none;
  }
  #menu {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    width: 100%;
    opacity: 0.85;
  }
  .header__listitem {
    width: 7rem;
  }

  .section.activities {
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 1rem;
  }
  .section__header--text {
    grid-column: 2 /4;
  }
  .section__figure:nth-child(even) {
    grid-column: 2 / 3;
  }
  .section__figure:nth-child(odd) {
    grid-column: 3 / 4;
  }
}

@media screen and (min-width: 860px) {
  .header__picture--text {
    scale: 1.2;
  }
  .header__listitem {
    width: 12rem;
  }
  .header__picture--text {
    scale: 1.5;
  }

  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 7rem;
    gap: 2rem;
  }
  .main__header {
    grid-column: 2 / 4;
    scale: 1.3;
    transition: 0.3s;
  }
  .main__text.p1 {
    grid-column: 2 / 3;
  }
  .main__text.p2 {
    grid-column: 3/4;
    grid-row: 2;
  }
}

@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
  }
  .section.activities {
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
  }
  .section__header--text {
    grid-column: 3 / 5;
  }
  .section__figure {
    grid-row: 2;
  }
  .section__figure:nth-child(2) {
    grid-column: 4/ 5;
  }
  .section__figure:nth-child(3) {
    grid-column: 5/ 6;
  }
}
